* {padding:0; margin:0;}
body {
	font-family: Microsoft YaHei，Arial,Helvetica;
	font-size: 16px;
	color:#eee;
	background-color: #64aef9;
}
ul {
	list-style: none;
}
a {
	color:#eee;
	text-decoration: none;
}














