#loginBox{
	position: absolute;
	width: 460px;
	height:300px;
	left:50%;
	top:18%;
	margin-left:-230px;
	text-align: center;
}
#loginBox form input,#loginBox form button,#loginBox .append{
	width:350px;
	outline: none;
	font-size: 18px;
	color:#eee;
	font-weight: bold;
}
#loginBox form input{
	display:block;
	height:35px;
	margin:20px auto;
	color:#666;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#loginBox form button{
	height:40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #99c8f7;
	border: 1px solid #1D80CF;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
#loginBox form button:hover{
	box-shadow: inset 0 1px 0 rgba(88, 88, 88, 0.3);
}
#loginBox form input:focus{
	border:2px solid #3091f4;
}
#loginBox .append{
	margin:20px auto;
}
#loginBox .append a{
	color:#eee;
}
#loginBox .append a:hover{
	text-decoration: underline;
}
#loginBox .left{
	float:left;
}
#loginBox .right{
	float:right;
}













